<!DOCTYPE html>
<html lang="en-US">

	<head>
        <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Heros - Components - Digital Content Style Guide</title>
        <link rel="mask-icon" href="../media/assets/safari-pinned-tab.svg" color="#333333">
        <link rel="icon" type="image/png" href="../media/assets/favicon.png">
        <link rel="apple-touch-icon" href="../media/assets/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../media/assets/apple-touch-icon-180x180.png">
        <link rel="stylesheet" type="text/css" href="../css/styleguide.built.css">
        <link rel="stylesheet" type="text/css" href="../uri-component-library/css/cl.built.css">
        <script src="../js/styleguide.built.js"></script>
        <script src="../uri-component-library/js/cl.built.js"></script>
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    </head>
	
	<body class="nav-components nav-heros">
        
        <nav>
            <div id="no-js">Please turn on JavaScript, if you can. You're missing out!</div>
            <script>loadTemplatePart('../includes/nav.html', 'nav', menuControl);</script>
        </nav>
            
        <main>
            
            <h1 class="page-title">Heros</h1>
            <img class="wireframe right" src="../media/wireframes/heros.svg" alt="Heros">
            <p class="type-intro">Heros are large, full-width components used to display visually engaging content, typically at the top of the page, and are often accompanied by header language and occasionally a button.  Heros can be either a video or a still image, and are used to add visual intensity to a page with the goal of driving the user to action.</p>
            
            <ul id="localnav">
                <li><a href="#video">Video Hero</a></li>
                <li><a href="#image">Image Hero</a></li>
                <li><a href="#options">Options</a></li>
            </ul>
            
            <section id="video">
                
                <h2>Video Hero</h2>
                <p>Video heros are implemented with the class <code class="class">cl-hero</code></p>
                <p>Video heros require an overlay and poster image. Create an overlay with the class <code class="class">overlay</code>, and a poster with the class <code class="class">poster</code>.</p>
                <p>The poster <b>must also</b> have an <code class="attr">id</code> attribute.  It can be arbitrary, but it is necessary for YouTube's API to function.</p>
                <p>The poster's <code class="attr">data-id</code> attribute is used to determine which YouTube video to load, based on the video id.  For example, if the YouTube URL is <code class="link">https://www.youtube.com/watch?v=ydD1Wg2B8Vk</code>, create the poster with a <code class="attr">data-id</code> of <code class="id">ydD1Wg2B8Vk</code>.</p>
                <xmp class="prettyprint">
<div class="cl-hero">
    <div class="overlay"></div>
    <div id="hero1" data-id="[video id]" class="poster" style="background-image:url(poster.jpg)"></div>
</div>
                </xmp>
                
                <div class="cl-hero">
                    <div class="overlay"></div>
                    <div id="demohero1" data-id="ydD1Wg2B8Vk" class="poster" style="background-image:url(../media/native/baycampus_1.jpg)"></div>
                </div>
                
                <article>
                    <p>In its most basic form, the overlay prevents any user interaction with the video.  The overlay <code class="tag">&lt;div&gt;</code> can be empty, or it can contain a block of content as described below. The poster is a placeholder for the video in the event that the video cannot be loaded.  The poster hidden if the video loads successfully, but remains before the video in the DOM.</p>                    
                    <h4>Add overlay content.</h4>
                    <p>To overlay content, such as a headline, subheading, and button, create a content block inside the overlay using the class <code class="class">block</code>.  The content will appear superimposed on the video.</p>
                    <xmp class="prettyprint">
<div class="cl-hero">
    <div class="overlay">
        <div class="block">
            <h1>Headline</h1>
            <p>Subheading</p>
            <a class="cl-button" href="#">Button</a>
        </div>
    </div>
    <div id="hero1" data-id="[video id]" class="poster" style="background-image:url(poster.jpg)"></div>
</div>
                    </xmp>                
                    <div class="cl-hero">
                        <div class="overlay">
                            <div class="block">
                                <h1>Small state.  Global impact.</h1>
                                <p>Think big at the University of Rhode Island</p>
                                <a class="cl-button" href="#">Explore</a>
                            </div>
                        </div>
                        <div id="demohero2" data-id="K4YDMmWBac4" class="poster" style="background-image:url(../media/commons/hero_vid_poster_2.jpg)"></div>
                    </div>
                </article>
                
            </section>
            
            <section id="image">
                
                <h2>Image Hero</h2>
                <p>Image heros are implemented with the class <code class="class">cl-hero</code></p>
                <xmp class="prettyprint">
<div class="cl-hero">
    <div class="still" style="background-image:url(hero.jpg)"></div>
</div>
                </xmp>
                <div class="cl-hero">
                    <div class="still" style="background-image:url(../media/commons/hero_vid_poster_2.jpg)"></div>
                </div>
                
                <article>
                    <h4>Add overlay content.</h4>
                    <p>To overlay content, such as a headline, subheading, and button, create a content block before the image using the class <code class="class">block</code>.  The content will appear superimposed on the image.</p>
                    <p>Note that an overlay <code class="tag">div</code> is not needed for image heros.</p>
                    <xmp class="prettyprint">
<div class="cl-hero">
    <div class="block">
        <h1>Headline</h1>
        <p>Subheading</p>
        <a class="cl-button" href="#">Button</a>
    </div>
    <div class="still" style="background-image:url(hero.jpg)"></div>
</div>
                    </xmp>                
                    <div class="cl-hero">
                        <div class="block">
                            <h1>Small state.  Global impact.</h1>
                            <p>Think big at the University of Rhode Island</p>
                            <a class="cl-button" href="#">Explore</a>
                        </div>
                        <div class="still" style="background-image:url(../media/commons/hero_vid_poster_2.jpg)"></div>
                    </div>
                </article>
                
                <article>
                    <h4>Image heros can be animated.</h4>
                    <p>Heros are designed so that the image is initially centered and always covers the entire hero element. Because of this, the direction and distance of any motion applied is dependent on the dimensions of the image and the hero.</p>
                    <p>To add movement to the hero image on page load, first add the class <code class="class">animate</code> to the image.  Then choose an animation method.</p>
                    <h4>The "shift" method</h4>
                    <p>To use the shift animation, add the class <code class="class second">shift</code>. When the page is loaded, the image will shift position slightly.</p>
                    <xmp class="prettyprint">
<div class="cl-hero">
    ...
     <div class="animate shift" style="background-image:url(hero.jpg)"></div>
</div>
                    </xmp>
                    <div class="cl-hero">
                        <div class="block">
                            <h1>Small state.  Global impact.</h1>
                            <p>Think big at the University of Rhode Island</p>
                            <a class="cl-button" href="#">Explore</a>
                        </div>
                        <div class="animate shift" style="background-image:url(../media/commons/hero_vid_poster_2.jpg)"></div>
                    </div>
                </article>
                
                <article>
                    <p>If the image is wider than the hero, the image will shift left until the right edge of the image is aligned with the right edge of the hero.  If the image is taller than the hero, the image will shift down until the top edge of the image is aligned with the top edge of the hero. The animation lasts for 10 seconds.</p>
                    <img class="figure" src="../media/figures/dynamic-hero-images.png" alt="Dynamic hero image movement">
                </article>
                
            </section>
            
            <section id="options">
                
                <h2>Options</h2>
                <h4>Heros can be full width.</h4>
                <p>To make a video or image hero span the width of the browser window, add the class <code class="class">fullwidth</code></p>
                <xmp class="prettyprint">
<div class="cl-hero fullwidth">
    ...
</div>
                </xmp>

                <div class="cl-hero fullwidth">
                    <div class="overlay"></div>
                    <div id="demohero3" data-id="ydD1Wg2B8Vk" class="poster" style="background-image:url(../media/native/baycampus_1.jpg)"></div>
                </div>
                
                <article>
                
                    <div class="cl-hero fullwidth">
                        <div class="block">
                            <h1>Small state.  Global impact.</h1>
                            <p>Think big at the University of Rhode Island</p>
                            <a class="cl-button" href="#">Explore</a>
                        </div>
                        <div class="still" style="background-image:url(../media/commons/hero_vid_poster_2.jpg)"></div>
                    </div>
                    
                </article>
                
                <article>
                    <h4>Make it a superhero.</h4>
                    <p>To make a video or image hero conform to the size of the browser window, add the class <code class="class">super</code></p>
                    <xmp class="prettyprint">
<div class="cl-hero super">
    ...
</div>
                    </xmp>
                    
                    <div class="cl-hero super">
                        <div class="overlay"></div>
                        <div id="demohero4" data-id="K4YDMmWBac4" class="poster" style="background-image:url(../media/commons/hero_vid_poster_2.jpg)"></div>
                    </div>
                    
                </article>
                    
                <article>
                                        
                    <div class="cl-hero super">
                        <div class="block">
                            <h1>Small state.  Global impact.</h1>
                            <p>Think big at the University of Rhode Island</p>
                            <a class="cl-button" href="#">Explore</a>
                        </div>
                        <div class="still" style="background-image:url(../media/commons/hero_vid_poster_2.jpg)"></div>
                    </div>
                    
                </article>
                
                <article>
                    <h4>Shortcode Support</h4>
                    <p>Heros can be implemented with the shortcode <code class='shortcode'>cl-hero</code></p>
                    <p class="code shortcode">[cl-hero headline="A Great Hero" id="hero1" vid="aK9iLeL5l_c" img="sampleimage.jpg"]</p>
                    
                    <div class="attributes">
                        <h5>Attributes</h5>
                        <ul>
                            <li>
                                <p><span class="name">img</span> (string) (required)</p>
                                <div>
                                    <p>The source URL for the hero image or, if <span class="name">vid</span> is set, the poster image.</p>
                                </div>
                            </li>
                            <li>
                                <p><span class="name">vid</span> (string) (optional)</p>
                                <div>
                                    <p>Set the YouTube video ID to create a video hero; <span class="name">id</span> must also be set.</p>
                                    <p class="default">(default value: none)</p>
                                </div>
                            </li>
                            <li>
                                <p><span class="name">id</span> (string) (optional)</p>
                                <div>
                                    <p>Set a unique id for the element; required if <span class="name">vid</span> is set.</p>
                                </div>
                            </li>
                            <li>
                                <p><span class="name">format</span> (string) (optional) (values: <code class="str">super</code>, <code class="str">fullwidth</code>)</p>
                                <div>
                                    <p>Specify the hero format</p>
                                    <p class="default">(default value: none)</p>
                                </div>
                            </li>
                            <li>
                                <p><span class="name">animation</span> (str) (optional) (values: <code class="str">slide</code>)</p>
                                <div>
                                    <p>Set to animate an image hero; this will be ignored if <span class="name">vid</span> is set.</p>
                                    <p class="default">(default value: none)</p>
                                </div>
                            </li>
                            <li>
                                <p><span class="name">headline</span> (string) (optional)</p>
                                <div>
                                    <p>The text for a headline</p>
                                    <p class="default">(default value: none)</p>
                                </div>
                            </li>
                            <li>
                                <p><span class="name">subhead</span> (string) (optional)</p>
                                <div>
                                    <p>The text for a subhead</p>
                                    <p class="default">(default value: none)</p>
                                </div>
                            </li>
                            <li>
                                <p><span class="name">link</span> (string) (optional)</p>
                                <div>
                                    <p>Set a URL to create a button.</p>
                                    <p class="default">(default value: none)</p>
                                </div>
                            </li>
                            <li>
                                <p><span class="name">button</span> (string) (optional)</p>
                                <div>
                                    <p>The text for the button</p>
                                    <p class="default">(default value: <code class="string">'Explore'</code>)</p>
                                </div>
                            </li>
                            <li>
                                <p><span class="name">tooltip</span> (string) (optional)</p>
                                <div>
                                    <p>Set a tooltip for the button</p>
                                    <p class="default">(default value: none)</p>
                                </div>
                            </li>
                            <li>
                                <p><span class="name">class</span> (string) (optional)</p>
                                <div>
                                    <p>Set custom CSS class(es)</p>
                                    <p class="default">(default value: none)</p>
                                </div>
                            </li>
                        </ul>
                        <div class="deprecated">
                            <h5>Deprecated</h5>
                            <ul>
                                <li>
                                    <p><span class="name">super</span> (bool) (optional)</p>
                                    <p><a href="https://github.com/uriweb/uri-component-library/releases/tag/2.0.0" class="code version">2.0.0</a>Use the <b>format</b> attribute instead</p>
                                </li>
                                <li>
                                    <p><span class="name">fullwidth</span> (bool) (optional)</p>
                                    <p><a href="https://github.com/uriweb/uri-component-library/releases/tag/2.0.0" class="code version">2.0.0</a>Use the <b>format</b> attribute instead</p>
                                </li>
                                <li>
                                    <p><span class="name">dynamic</span> (bool) (optional)</p>
                                    <p><a href="https://github.com/uriweb/uri-component-library/releases/tag/2.0.0" class="code version">2.0.0</a>Use the <b>animation</b> attribute instead</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
                
                <article class="wysiwyg">
                    <h4>WYSIWYG Editor Support</h4>
                    <p>With the <a href="../plugin/" class="component">WYSIWYG</a> plugin installed, heros can be added using the WYSIWYG editor.</p>
                    <p>The icon <img src="../media/wysiwyg/icons/hero.png" class="icon" alt="Hero WYSIWYG toolbar icon"> to add a hero appears in the WYSIWYG toolbar.  Clicking this icon opens a dialogue where different hero attributes can be easily set.</p>
                    <p>Currently, superheros and full width heros cannot be built through the WYSIWIG editor.</p>
                    <img src="../media/wysiwyg/hero.png" class="editor" alt="Hero WYSIWYG editor dialogue">
                    <p>The completed hero will appear fully styled in the editor window.  To edit it, simply double-click the hero to reopen the editor dialogue.</p>
                </article>
                
            </section>
            
        </main>
                
        <footer id="globalfooter">
            <script>loadTemplatePart('../includes/footer.html', 'footer');</script>
        </footer>
        
    </body>
    
</html>