<!DOCTYPE html>
<html lang="en-US">

	<head>
        <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Components - Digital Content Style Guide</title>
        <link rel="mask-icon" href="../media/assets/safari-pinned-tab.svg" color="#333333">
        <link rel="icon" type="image/png" href="../media/assets/favicon.png">
        <link rel="apple-touch-icon" href="../media/assets/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../media/assets/apple-touch-icon-180x180.png">        <link rel="stylesheet" type="text/css" href="../css/playground.built.css">
        <link rel="stylesheet" type="text/css" href="../uri-component-library/css/cl.built.css">   
        <script src="../js/playground.built.js"></script>
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    </head>
	
	<body class="nav-components">
        
        <nav>
            <div id="no-js">Please turn on JavaScript, if you can. You're missing out!</div>
            <script>loadTemplatePart('../includes/nav.html', 'nav', menuControl);</script>
        </nav>
            
        <main>
            
            <h1 class="page-title">Components</h1>
            <p class="type-intro">A website is built using a relatively small number of repeating elements, like buttons, cards, and heros.  The Component Library exists in order to standardize the look and feel of these elements, and make it fast and simple to build webpages that look great and stay on-brand.</p>
            
            <ul id="localnav" class="landing">
                <li><a href="boxouts.html">Boxouts</a><span>Group multiple action links or buttons together, with some brief explanatory text.</span></li>
                <li><a href="buttons.html">Buttons</a><span>Focus user attention on and allow them to take major actions.</span></li>
                <li><a href="cards.html">Cards</a><span>An elevated, clickable container with abridged contents and a single action.</span></li>
                <li><a href="heros.html">Heros</a><span>Large, full-width components used to display visually engaging content.</span></li>
                <li><a href="menus.html">Menus</a><span>A navigation framework.</span></li>
                <li><a href="notices.html">Notices</a><span>Full-width banners that display a short amount of temporary, time-sensitive content.</span></li>
                <li><a href="panels.html">Panels</a><span>Large content containers constructed of two panes: one displaying text and the other displaying an image.</span></li>
                <li><a href="slideshows.html">Slideshows</a><span>Transform native WordPress image galleries into a user-controllable carousel with a clean UI.</span></li>
                <li><a href="social-bars.html">Social Bars</a><span>Display a row of social media icons.</span></li>
                <li><a href="tabs.html">Tabs</a><span>A user-controlled interface that displays one section of content at a time.</span></li>
                <li><a href="videos.html">Videos</a><span>Custom YouTube embeds that have minimal YouTube branding and do not show video annotations.</span></li>
            </ul>
            
        </main>
        
    </body>
    
</html>