<!DOCTYPE html>
<html lang="en-US">

	<head>
        <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Menus - Components - Digital Content Style Guide</title>
        <link rel="mask-icon" href="../media/assets/safari-pinned-tab.svg" color="#333333">
        <link rel="icon" type="image/png" href="../media/assets/favicon.png">
        <link rel="apple-touch-icon" href="../media/assets/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../media/assets/apple-touch-icon-180x180.png">        <link rel="stylesheet" type="text/css" href="../css/playground.built.css">
        <link rel="stylesheet" type="text/css" href="../uri-component-library/css/cl.built.css"> 
        <script src="../js/playground.built.js"></script>
        <script src="../uri-component-library/js/cl.built.js"></script>
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    </head>
	
	<body class="nav-components nav-menus">
        
        <nav>
            <div id="no-js">Please turn on JavaScript, if you can. You're missing out!</div>
            <script>loadTemplatePart('../includes/nav.html', 'nav', menuControl);</script>
        </nav>
            
        <main>
            
            <h1 class="page-title">Menus</h1>
            <p class="type-intro">Menus are a navigation framework that transform native WordPress menus.</p>
            
            <ul id="localnav">
                <li><a href="#usage">Usage</a></li>
            </ul>
            
            <section id="usage">
                
                <h2>Usage</h2>
                <p>Menus are implemented by creating a WordPress menu and then adding it with the shortcode <code class="shortcode">cl-menu</code></p>
    
                <p class="code shortcode">[cl-menu name="awesome-menu"]</p>
                <div class="attributes">
                    <h5>Attributes</h5>
                    <p><b>name</b> <i>(string) (required)</i></p>
                    <p class='indent'>The name of the menu to use<br /><i>(default value: <code class="string">menu-1</code>)</i></p>
                    <p><b>depth</b> <i>(num) (optional)</i></p>
                    <p class='indent'>Set how many levels of hierarchy to include<br /><i>(values: <code class="num">1</code>, <code class="num">2</code>) (default value: <code class="num">1</code>)</i></p>
                    <p><b>title</b> <i>(string) (optional)</i></p>
                    <p class='indent'>Set a custom menu title (the menu name is used by default)<br /><i>(default value: none)</i></p>
                    <p><b>showtitle</b> <i>(bool) (optional)</i></p>
                    <p class='indent'>Set show the menu title on desktop<br /><i>(default value: <code class='bool'>false</code>)</i></p>
                    <p><b>id</b> <i>(string) (optional)</i></p>
                    <p class='indent'>Set an ID for the menu container<br /><i>(default value: none)</i></p>
                    <p><b>class</b> <i>(string) (optional)</i></p>
                    <p class='indent'>Set custom CSS class(es)<br /><i>(default value: none)</i></p>
                </div>
            
            </section>
            
        </main>
                
        <footer id="globalfooter">
            <script>$('Itemter').load('../includes/Itemter.html');</script>
        </footer>
        
    </body>
    
</html>