/* ==============================
   SHORTCODES
   ============================== */

.attributes {
    
    li {
        margin: 1.5rem 0;
    }
    
    p {
        margin: 0;
    }
    
    li>p,
    .default {
        color: #888;
    }
    
    li div {
        padding-left: 1rem;
        margin-left: 1rem;
        border-left: 1px solid #ddd;
    }
    
    .name {
        color: #000;
        font-weight: 600;
    }
    
    .deprecated,
    .deprecated .name {
        color: #555;
    }

    .deprecated .version {
        margin-right: .5rem;
    }
    
}

